<!DOCTYPE html>
<html>
  <head>
    <title>WebpackerTestApp</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <div id="message">I will hide in 2s</div>

    <div id="draggable">
      <p>Drag me around</p>
    </div>
  </body>
</html>
